{
	"extends": ["airbnb-base", "plugin:prettier/recommended"],
	"plugins": ["prettier", "jest"],
	"rules": {
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		]
	},
	"settings": {
		"import/resolver": "babel-plugin-root-import"
	},
	"env": {
		"jest/globals": true
	}
}
