@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@500&display=swap");

.question-section {
	background-color: #fcc822;
}

.card-color {
	background-color: #d1d1d1;
}

.question-text {
	color: #fff;
	font-family: "Poppins", sans-serif;
}

.choice-text {
	font-family: "Poppins", sans-serif;
}

.next-button {
	background: linear-gradient(#fcc822, #ffcd2e);
	box-shadow: 0px 10px 10px 0px rgba(255, 205, 46, 0.76);
}
