@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

.dashboard-font {
	font-family: "Poppins", sans-serif;
}

.dashboard-background {
	background-color: #fbf9f9;
}

.dashboard-text {
	color: #696f79;
}
