<!DOCTYPE html>
<html>
	<head>
		<title>Polymath</title>
		<link rel="stylesheet" href="/stylesheets/tailwind.css" />
		<link rel="stylesheet" href="/stylesheets/home.css" />
		<link rel="stylesheet" href="/stylesheets/fonts/index.css" />
		<script defer src="/javascripts/cdn.min.js"></script>
		<link rel="icon" type="images/favicon.svg" href="/images/Graduation.svg" />
	</head>
	<body>
		<%- include('components/navbar'); %> <%- include('components/hero'); %>
	</body>
</html>
