<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Privacy Policy</title>
</head>
<body>
    <div class = 'container'>
        <div class ='col align-self-center col  my-4  mx-auto'>
            <div class = 'row  row justify-content-center '>
                <h1>Privacy Policy</h1>
            </div>
            <div class = 'row row justify-content-center border border-secondary my-4 p-4'>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at vehicula elit, sed dignissim ex. Ut imperdiet, urna eu pulvinar congue, lectus felis dapibus nisi, at fermentum elit erat malesuada elit. Donec a neque eget nibh dignissim dignissim at a libero. Nam nisl orci, fermentum at nibh id, auctor viverra mi. Nunc aliquet mauris nunc. Sed laoreet ac risus eu dapibus. Mauris mauris dui, varius id elit et, varius viverra magna. Nullam enim metus, pulvinar id ornare in, aliquam eu enim. Mauris nec risus id arcu lobortis euismod vitae sed ante. Donec dignissim rhoncus magna vitae eleifend. Etiam sit amet gravida nisl. Quisque rhoncus ipsum in tempor iaculis. In hac habitasse platea dictumst. Nullam elementum tellus a dignissim laoreet. In fermentum rhoncus lorem et vulputate. Ut in mauris et lacus porttitor faucibus.

Maecenas vitae lobortis nisl. Nam dui risus, ullamcorper eget nisi vel, pharetra tincidunt odio. Sed consectetur lacinia augue, sit amet ultrices mi tempor nec. Vivamus facilisis bibendum lectus, sit amet posuere diam pretium ac. Nulla facilisi. Nunc ullamcorper est nisi, et porttitor diam egestas ut. Duis a pulvinar velit. Sed est nibh, eleifend at turpis quis, ornare laoreet metus. Pellentesque sit amet elit consequat, viverra risus ac, elementum tortor. Suspendisse enim arcu, commodo et consectetur sit amet, vulputate vel lorem. Aenean laoreet velit arcu, et tincidunt magna sodales quis. Vestibulum molestie tincidunt convallis. Morbi arcu quam, facilisis nec efficitur in, commodo id mi. Etiam maximus sapien eros, sit amet tempor nisi pretium ac. Sed eu dapibus nisi.

Nulla sollicitudin nisl at velit porta, id malesuada magna vestibulum. Ut eget massa faucibus, hendrerit tellus at, euismod est. Aliquam a varius lectus, eget malesuada nibh. Sed rhoncus ante et elit faucibus maximus ac a ante. Sed volutpat mi id eros porta, nec vulputate ex aliquam. Curabitur non turpis ultricies, pulvinar sapien eu, mattis mauris. Donec iaculis efficitur nisi ac finibus. Maecenas sed mauris auctor, consequat elit eget, euismod lectus. Duis vel consectetur velit. Aenean sed scelerisque dolor. Duis eu metus efficitur diam viverra facilisis non vestibulum risus. Nulla sagittis, mi non placerat sollicitudin, justo arcu euismod ligula, vitae pulvinar elit tellus eget arcu. Duis egestas ex arcu, a facilisis sapien varius non. Etiam ut scelerisque turpis.

Curabitur luctus ultricies imperdiet. Mauris et libero nec tortor ullamcorper sagittis. Quisque non sollicitudin nunc. Ut ultrices ante vel efficitur maximus. Suspendisse accumsan risus a sem lacinia efficitur. Etiam convallis odio sit amet nisi laoreet, quis congue leo dapibus. Sed volutpat lacinia sapien, eget pulvinar diam sagittis ut. Vivamus et laoreet est, eu blandit diam. Quisque vel tellus at velit condimentum sagittis. Curabitur eget feugiat enim. Nulla facilisi.

Vestibulum ex nulla, placerat vel suscipit eu, fermentum nec est. Nam pulvinar sem in gravida euismod. Cras sed gravida nibh. Sed eu augue feugiat, commodo ante at, commodo turpis. Quisque dignissim dui sit amet tellus sagittis malesuada. Donec sagittis quam non arcu aliquam, at pharetra lacus tincidunt. Etiam hendrerit tincidunt diam. Nulla eu ligula quis sem accumsan sagittis sed id augue. Sed eget odio posuere, sagittis dui a, rhoncus orci. Integer vulputate dui nec viverra dapibus.
                </p>
            </div>
        </div>
    </div>
</body>
</html>