body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.termsOfServiceBody {
  padding: 25px 50px;
  font:  14px "Times New Roman";
}

.termsOfServiceHeader {

  padding-top: 30px;
  font: 24px "Times New Roman" bold;
}