.color-linear {
	background-color: #fcc822;
}

.color-linear:hover {
	background-color: #e9b200;
}

.text-color-linear {
	color: #fcc822;
}

.border-color-linear {
	border-color: #fcc822;
	border-width: 2px;
	border-radius: 0px;
}

.button-color-linear:hover {
	color: #f3ba00;
	border-color: #f3ba00;
}

.filled-button-linear:hover {
	background-color: #f3ba00;
}
